<div fxLayout="column">
    <mat-form-field>
        <input matInput placeholder="Search here..." type="text">
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxLayout="column" fxFlex>
            <nb-card fxFlex>
                <nb-card-body>
                    <mat-form-field>
                        <input matInput placeholder="Search here..." type="text">
                    </mat-form-field>
                </nb-card-body>
            </nb-card>
        </div>
       
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
        <div fxLayout="row" fxFlex>
            <nb-card fxFlex>
                <nb-card-body>
        
                </nb-card-body>
            </nb-card>
            <nb-card fxFlex>
                <nb-card-body>
        
                </nb-card-body>
            </nb-card>
            <nb-card fxFlex>
                <nb-card-body>
        
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>
