<nb-card status="" accent="danger">
    <nb-card-header>
        Sign In
    </nb-card-header>

    <nb-card-body fxLayout fxLayoutAlign="center">
        <form action="" ngForm #signinform='ngForm' (ngSubmit)="signin(signinform)">
            <div fxLayout='column' fxLayoutAlign="center" fxLayoutGap="20px" fxFlex="500px">
                <div fxLayout="column" fxLayoutGap="5px">
                    <p>Email </p>
                    <input nbInput type="email" fullWidth name="email" ngModel #emailinput placeholder="enter email">
                </div>
                <div fxLayout="column" fxLayoutGap="5px">
                    <p>Password</p>
                    <input nbInput type="password" fullWidth name="password" ngModel #passwordinput placeholder="enter passowrd">
                </div>
                <button nbButton action="Submit" status="warning">Submit</button>
            </div>
        </form>
    </nb-card-body>
</nb-card>

